<section>
  <div class="page-header">
    <h1 ng-bind="vm.shoppinglist.name"></h1>
    <small>
    <em class="text-muted" style="color: black">
      Posted on
      <span ng-bind="vm.shoppinglist.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.shoppinglist.user"
            ng-bind="vm.shoppinglist.user.displayName"></span>
      <span ng-if="!vm.shoppinglist.user">Deleted User</span>
    </em>
  </small>
  </div>
  <div class="row">
  <div class="col-lg-6">
    <!-- <form name="vm.form.shoppingListItemsForm" ng-submit="vm.addItem(vm.form.shoppingListItemsForm.$valid)" novalidate>
    <input type="text" name="name" ng-model="vm.shoppinglist.item.name" placeholder="Item" required>
    <input list="priorities" name="priority" ng-model="vm.shoppinglist.item.priority">
      <datalist id="priorities">
        <option>Gotta get this asap!</option>
        <option>It can wait</option>
        <option>ehh</option>
      </datalist>
    <input type="number" name="quantity" ng-model="vm.shoppinglist.item.quantity">
    <input type="checkbox" name="isChecked" ng-model="vm.shoppinglist.item.isChecked">
    <button type="submit" class="btn btn-default">Add</button>
    </form> -->
  </div>
  <div style="color: {{vm.shoppinglist.color}} " >
    
    <table class="table" style="background: rgba(0,0,0,0.3); border-radius: 10px;">
    <thead>
      <tr>

        <th class="glyphicon glyphicon-ok"></th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Priority</th>
        <th>Delete Item</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.shoppinglist.items">
        <td ng-switch="item.isChecked">
          <input ng-switch-when="true" type="checkbox" checked ng-click="submit">
          <input ng-switch-default type="checkbox" ng-click="submit">
        </td>

        <!-- <td><input type="checkbox" ng-model="shoppinglist.item.isChecked"></td> -->
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.priority}}</td>
        <td>
          <a class="btn btn-danger" ng-click="vm.removeItem()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
    </table>


    <div class="col-md-12" style="background: rgba(0,0,0,0.3); border-radius: 10px;">
      <form name="vm.form.shoppingListItemsForm" ng-submit="vm.addItem(vm.form.shoppingListItemsForm.$valid)" class="form-horizontal" novalidate >
      <br />
      <div class="form-group">
        <div class="col-md-6">

          <input type="text" name="name" ng-model="vm.shoppinglist.item.name" placeholder="Item" class="form-control" required>
            <br />
        </div>
        <div class="col-md-12">
           <div class="form-group col-md-3" style="margin-right:30px">
              <input list="priorities" name="priority" ng-model="vm.shoppinglist.item.priority" placeholder="Priority" class="form-control">
              <datalist id="priorities">
                <option>Gotta get this asap!</option>
                <option>It can wait</option>
                <option>ehh</option>
              </datalist>
            </div>
            <div class="form-group col-md-3 col-md-offset-1">
              
              <input type="number" name="quantity" placeholder="Quantity" class="form-control" ng-model="vm.shoppinglist.item.quantity">
            </div>
        
        <div class="form-group col-md-12">
         <button type="submit" class="btn btn-default">Add</button>
        </div>
        </div>
      </div>
      </form>
    </div>
    



 





  </div>
  <div class="pull-right"
       ng-show="vm.shoppinglist.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="shoppinglists.edit({ shoppinglistId: vm.shoppinglist._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  
  <p class="lead" ng-bind="vm.shoppinglist.content"></p>
</section>
