<section>
  <div class="page-header">
    <h1 ng-bind="vm.shoppinglist.name"></h1>
    <small>
    <em class="text-muted" style="color: black">
      Posted on
      <span ng-bind="vm.shoppinglist.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.shoppinglist.user"
            ng-bind="vm.shoppinglist.user.displayName"></span>
      <span ng-if="!vm.shoppinglist.user">Deleted User</span>
    </em>
  </small>
  </div>
  <div style="color: {{vm.shoppinglist.color}}">
    
    <table class="table" style="background: rgba(0,0,0,0.3); border-radius: 10px;">
    <thead>
      <tr>

        <th class="glyphicon glyphicon-ok"></th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Priority</th>
        <th>Delete Item</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.shoppinglist.items">
        <td><input type="checkbox" ng-model="shoppinglist.item.isChecked"></td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.priority}}</td>
        <td>
          <a class="btn btn-danger" ng-click="vm.removeItem()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="pull-right"
       ng-show="vm.shoppinglist.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="shoppinglists.edit({ shoppinglistId: vm.shoppinglist._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  
  <p class="lead" ng-bind="vm.shoppinglist.content"></p>
</section>
